/tracklib/__pycache__
/tracklib/algo/__pycache__/
/tracklib/core/__pycache__/
/tracklib/io/__pycache__/
tracklib/util/__pycache__/
test/algo/__pycache__/
test/core/__pycache__/
test/io/__pycache__/
/tests/__pycache__/
test/__pycache__/
example/__pycache__/
/tracklib/*.pyc
/.spyproject/
/data/resultat/
/tracklibenv/
/build/
/dist/
/tracklib.egg-info/
/doc/_build/
/doc/public/
/doc/html/
/public/
/cotation/
/source/
.coverage
/data_private/
tracklib/cartetopo/__pycache__/
mitaka/
data/clock.txt
data/cycle_slips/
data/data_psa.txt
data/hybridation_gnss_camera2.dat
data/hybridation_gnss_camera2.pos
data/mobile1806.pos
data/mobile2106.pos
data/network/network_tsukuba.wkt
data/network/network_tsukuba_extrait.wkt
data/roc4j_avec_geom_chateau_tous_attributs.dat
data/track.dat
data/track0106.gpx
data/track0306.gpx
data/track0806.gpx
data/track1306.gpx
data/track2306.gpx
data/track2805.gpx
data/track3105.gpx
data/traj_base.pos
data/traj_cam_2106.dat
data/traj_gps_carrier_2106.pos
data/traj_gps_code_2106.pos
data/traj_rm_all.pos
data/traj_rm_remove_sat_all.pos
data/traj_rm_sat_vertical.pos
data/traj_rm_vertical.pos
data/test/
doc/source/notebook/.ipynb_checkpoints