/tracklib/__pycache__
/tracklib/algo/__pycache__/
/tracklib/core/__pycache__/
/tracklib/io/__pycache__/
tracklib/util/__pycache__/
test/algo/__pycache__/
test/core/__pycache__/
/tests/__pycache__/
test/__pycache__/
example/__pycache__/
/tracklib/*.pyc
/.spyproject/
/data/resultat/
/tracklibenv/
/build/
/dist/
/tracklib.egg-info/
/doc/_build/
/doc/public/
/doc/html/
/public/
/cotation/
/source/
.coverage
/data_private/
tracklib/cartetopo/__pycache__/
mitaka/