/tracklib/__pycache__
/tracklib/algo/__pycache__/
/tracklib/core/__pycache__/
/tracklib/io/__pycache__/
/tests/__pycache__/
/tracklib/*.pyc
/.spyproject/
/data/resultat/
/tracklibenv/
/build/
/dist/
/tracklib.egg-info/
/doc/_build/
/doc/public/
/doc/html/
/public/
/cotation/