include MANIFEST.in
include LICENCE
include *.txt *.md
include setup.py
include setup.cfg

recursive-include tracklib/resources *

recursive-include doc *

recursive-include example *

recursive-include data *
