sphinx
sphinx_rtd_theme
recommonmark
sphinx-autodoc-typehints
sphinx-mathjax-offline
pydata-sphinx-theme
ipykernel
nbsphinx
autodocsumm
pygments
nbconvert
numpy
matplotlib
scikit-image
progressbar2
jupyter_contrib_nbextensions
sphinxcontrib-jsmath 
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
